---
interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <link
    rel="alternate"
    href="https://angelnext.dev/blog.xml"
    type="application/rss+xml"
  />

  <meta name="title" content={`AngelNext | ${title}`} />
  <meta name="description" content={description} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://angelnext.dev/" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="https://i.imgur.com/s087kaN.png" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://angelnext.dev/" />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content="https://i.imgur.com/s087kaN.png" />

  <link rel="canonical" href="https://angelnext.dev/" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <title>AngelNext | {title}</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link
    href="https://fonts.bunny.net/css2?family=DM+Serif+Text&family=Fredoka+One&family=Outfit:wght@400;500&family=Poppins:wght@300;400;500&family=Righteous&family=Sanchez&display=swap"
    rel="stylesheet"
  />

  <slot />
</head>
